django==4.1.1
djangorestframework==3.14.0
requests==2.28.1
django-cors-headers==3.13.0
spacy==3.4.3
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.1/en_core_web_md-3.4.1-py3-none-any.whl
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.4.0/es_core_news_sm-3.4.0-py3-none-any.whl
#  instalar spacy con los siguientes comandos
# pip install -U pip setuptools wheel
# pip install -U spacy
# python -m spacy download en_core_web_md

# setuptools==65.6.3
# wheel==0.38.4
# spacy==3.4.3
# spacy-legacy==3.0.10
# spacy-loggers==1.0.3
# en-core-web-md==3.4.1

gunicorn==20.1.0
